{% extends "auctions/layout.html" %}
{% block body %}
    <div id="listings">
        {% for counter in number_listings %}
            <figure>
                <a href="{% url 'listing' listings.counter.id %}">
                    <img src="{{ listing.counter.url}} " alt=" {{ listing.counter.title }}">
                    <figcaption>
                        <h1>{{ listing.counter.title}}</h1>
                    </figcaption>
                    <h1>${{ bids.counter }}</h1>
                </a>
            </figure>
        </a>
        {% empty %}
        <h1>No listings</h1>
        {% endfor %}
    </div>
{% endblock %}