{% extends "auctions/layout.html" %}
{% block body %}
    {% if message %}
    <h3 style="color: red;"><marquee> {{ message }}</marquee></h3>
    {% endif %}
    <div id="listings"></div>
        {% for bid in bids %}
            <figure>
                <a href="{% url 'listing' bid.listing.id %}">
                    <img src="{{ bid.listing.url}} " alt=" {{ bid.listing.title }}">
                    <figcaption>
                        <h1>{{ bid.listing.title}}</h1>
                    </figcaption>
                    <h1>${{ bid.value }}</h1>
                </a>
            </figure>
        </a>
        {% empty %}
        <h1>No listings</h1>
        {% endfor %}
    </div>
{% endblock %}