{% extends "auctions/layout.html" %}
{% block body %}
    <!-- {% if condition %}
    <marquee> {{ message }}</marquee>
    <h1>Entrei</h1>
    {% endif %} -->
    <div id="listings"></div>
        {% for listing in listings %}
        {% for bid in bids %}
            <figure>
                <a href="{% url 'listing' listing.id %}">
                    <img src="{{ listing.url}} " alt=" {{ listing.title }}">
                    <figcaption>
                        <h1>{{ listing.title}}</h1>
                    </figcaption>
                    <h1>${{ bid.value }}</h1>
                </a>
            </figure>
        </a>
        {% empty %}
        <h1>No listings</h1>
        {% endfor %}
        {% endfor %}
    </div>
{% endblock %}