{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav>
            <ul>
                <li><h1>Mafiawe</h1></li>
                <li><a href="{% url 'index' %}">Active Listings</a></li>
                <li><a href="">Categories</a>
                    <ul>
                        <div>
                            <li><a href="{% url 'categories' 'Jewerly' %}">Jewerly</a></li>
                            <li><a href="{% url 'categories' 'Gamer' %}">Gamer</a></li>
                            <li><a href="{% url 'categories' 'Technology' %}">Technology</a></li>
                            <li><a href="{% url 'categories' 'Book' %}">Book</a></li>
                            <li><a href="{% url 'categories' 'Itens' %}">Itens</a></li>
                            <li><a href="{% url 'categories' 'Supermercado' %}">Supermercado</a></li>
                            <li><a href="{% url 'categories' 'Casa e Móveis' %}">Casa e Móveis</a></li>
                            <li><a href="{% url 'categories' 'Esportes e Fitness' %}">Esportes e Fitness</a></li>
                            <li><a href="{% url 'categories' 'Industria e Comercio' %}">Industria e Comercio</a></li>
                            <li><a href="{% url 'categories' 'Saude' %}">Saude</a></li>
                            <li><a href="{% url 'categories' 'Brinquedos' %}">Brinquedos</a></li>
                            <li><a href="{% url 'categories' 'Imóveis' %}">Imóveis</a></li>
                        <div>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'watchlist' %}">WatchList</a></li>
                    <li><a href="{% url 'create' %}">Create Listing</a></li>
                    <li>
                        <div>
                        <a href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </li>
                {% else %}
                    <li>
                        <div>
                        <a href="{% url 'login' %}">Log In</a>
                        <a href="{% url 'register' %}">Register</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div id="notnav">
        {% block body %}
        {% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>