{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <div class="listing">
        <div class = "container">
            <div class="row">
            <div class="col-md-6 left">
                <!-- First Column -->
                <figure>
                    <img src="{{ current_listing.url}} " alt=" {{ current_listing.title }} ">
                </figure>
            </div>
            <div class="col-md-6 right">
                <!-- First Column -->
                <h1>Listing: {{ current_listing.title }}</h1>
                <div id="buttonright">
                <form action="{% url 'listing' current_listing.id %}" method="post">
                    {% csrf_token %}
                    {% if user == current_listing.user %}
                    <button type="submit" class="btn btn-warning" name="close">Close listing</button>
                    {% endif %}
                </form>
                </div>
                <hr>
                <div class="bid">
                    <h2>Current Bid:</h2>
                        <div class="right">
                        <h2>USD {{ last_bid.value }}</h2>
                        <h3>Enter USD {{ last_bid.value}} or more</h3>
                        {% if user.is_authenticated %}
                        <form action="{% url 'listing' current_listing.id %}" method="post">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="text" class="form-control" name="bid" aria-label="Username" aria-describedby="basic-addon1" id="basic-url" placeholder="Place your bid">
                            </div>
                        </form> 
                        {% else %}
                        <div class="alert alert-danger" role="alert">
                            Please Login to place your bid
                        </div>
                        {% endif %}
                </div>
                <div class="col p-0">
                    <form method="POST" id="watchlist">
                        {% csrf_token %}
                        {% if not on_watch_list and user.is_authenticated %} 
                        <button class="btn btn-primary" id="watchlistButton" type="submit" form="watchlist" name="watchlist"><i class="fas fa-eye" aria-hidden="true"></i> Add to Watchlist</button>
                        {% elif user.is_authenticated %}
                        <button class="btn btn-primary" id="watchlistButton" type="submit" form="watchlist" name="remove_watchlist"><i class="fas fa-eye" aria-hidden="true"></i> Remove from Watchlist</button>
                        {% endif %}
                    </form>
                </div>
                {% if message %}
                <div class="alert alert-danger" role="alert">
                    Please insert a value greater than the current value
                </div>
                {% endif %}
            </div>
            <h1 style="font-size: 200%; margin: 2%;">Additional Information</h2>
            <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Category</th>
                    <td>{{current_listing.category}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Start Price</th>
                    <td>${{ start_bid.value }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Description</th>
                    <td>{{current_listing.description}}</td>
                  </tr>
                  <tr>
                      <th scope="row">Who created</th>
                      <td>{{current_listing.user.username}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <!-- Comments -->
        <div class="comments">
        {% if user.is_authenticated %}
        <form action="{% url 'listing' current_listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-group" style="margin-bottom: 0;">
                <label for="exampleFormControlTextarea1"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="comment"rows="3" placeholder="Add a comment" style="display: inline-block; width: 70%;"></textarea>
                <button type="submit" class="btn btn-primary" style="display: inline-block; text-align: right; margin-bottom: 40px;">Submit</button>
            </div>
        </form>
        {% else %}
        <div class="alert alert-danger" role="alert">
            Login to comment
        </div>
        {% endif %}
        {% for comment in comments %}
            <div class="row d-flex justify-content-left" id="comment">
                <div class="card p-3">
                    <div class="d-flex justify-content-between align-current_listings-center">
                        <div class="user d-flex flex-row align-current_listings-center"> <span><small class="font-weight-bold text-primary">{{comment.username.username}}</small> <small class="font-weight-bold">{{comment.comment}}</small></span> </div> <small></small>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

